@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@charset "UTF-8";
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.one-whole {
    width: 940px;
}
.three-quarters {
    width: 700px;
}
.one-half {
    width: 460px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
}
.one-sixth {
    width: 140px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
nav ul li {
    display: inline-block;
}
ul {
    list-style: none;
    padding: 0;
}
footer {
    display: inline-block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #7b7b7b;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #7b7b7b;
}
h2 {
    padding-bottom: 30px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #999;
    margin-bottom: 30px;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 40px;
    color: #101010;
    background-color: white;
}
h3 {
    padding-bottom: 12px;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 24px;
    color: #101010;
}
p {
    padding-bottom: 45px;
}
.caption {
    width: 400px;
    position: absolute;
    top: 100px;
    z-index: 10;
    right: 0;
}
.caption-h2 {
    font-size: 72px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.caption-h2-tagline {
    display: block;
    font-size: 40px;
    margin-top: -30px;
}
.caption a {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #7b7b7b;
}
.nav-list-item {
    text-transform: uppercase;
}
.nav-list-item a {
    color: white;
}
.nav-list-item-current a {
    color: #89c727;
}
.site-header {
    height: 170px;
    background-color: black;
}
.site-logo-tagline {
    display: block;
    font-size: 7px;
    text-transform: uppercase;
    color: #969696;
}
.site-main {
    margin-top: 62px;
}
.site-footer {
    height: 140px;
    text-align: center;
}
.site-logo {
    padding-top: 45px;
    padding-left: 50px;
}
.site-logo a {
    background-image: url("images/logo.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    width: 175px;
    height: 50px;
    /*text-indent: -999em;*/
    margin-bottom: 10px;
}
.site-nav {
    padding-top: 130px;
}
.site-footer {
    margin-top: 70px;
    padding-top: 22px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999;
}
.site-footer p {
    padding-bottom: 30px;
}
.site-sidebar {
    margin-top: 62px;
    background-color: #dedede;
}
.sidebar-list {
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
}
.sidebar-list-item {
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.sidebar-list-item a {
    color: black;
    font-weight: bold;
}
.main-list {
    padding-top: 0;
    margin-bottom: 45px;
    margin-top: 0;
}
.main-list-item {
    padding-bottom: 12px;
    background-image: url("images/marker-1.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
}
.slider {
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #999;
    position: relative;
}
.home-section {
    position: relative;
    min-height: 425px
}
.button {
    position: relative;
    bottom: 20px;
    z-index: 20;
    left: 0;
    display: inline-block;
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #292929;
    padding-top: 24px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 12px;
    border-radius: 10px;
}
.team-member {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 18px;
    color: #b0c82d;
}
.icon-pylon {
    background-image: url("images/title-icon1.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
}
.icon-globe {
    background-image: url("images/title-icon2.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
}
.icon-cup {
    background-image: url("images/title-icon3.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
}
.icon-toolbox {
    background-image: url("images/title-icon4.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 50px;
}
.soc-icon-item a {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("images/social-icons.jpg");
    background-repeat: no-repeat;
    text-indent: -999em;
}
.soc-icon-twitter {
    background-position: left top;
}
.soc-icon-flickr {
    background-position: -38px;
    background-position: top;
}
.soc-icon-facebook {
    background-position: -76px;
    background-position: top;
}